absl-py
altair
annotated-types
anyio
asttokens
astunparse
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
defusedxml
distro
docopt
executing
facenet-pytorch
fastjsonschema
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
imageio
importlib-metadata
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mpmath
mtcnn==0.1.1
namex
narwhals
neo4j
networkx
numpy
openai
opencv-python
opt_einsum
optree
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
plotly
prompt_toolkit
protobuf
pure_eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
scikit-image
scikit-learn
scipy
setuptools
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tifffile
tinycss2
toml
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
wheel
wrapt
yarg
zipp
